<h1>Saved Album Reviews</h1>
<div id="container-cards">

    {{#each articles}}
    <a href="https://pitchfork.com{{this.link}}" target="_blank">
        <div class="card">

            <div class="card-header">
                <h2><span class="label card-text"><b>Album: </b></span> {{this.title}}</h2>
                <h3><span class="label card-text"><b>Artist: </b></span> {{this.artist}}</h3>
            </div>
            </a>
            <div class="card-body">
                <p><span class="label card-text"></span> {{this.summary}}</p>
                 <span><button class="notes-button btn btn-info" data-id="{{id}}">Notes</button></span>
            </div>
    
</div>
{{/each}}
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/app.js"></script>